	<section id="fh5co-services" data-section="services">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-left">
					<h2 class=" left-border to-animate">{{ with .Site.Params.calendar.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 subtext to-animate">
							<h3>{{ with .Site.Params.calendar.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 section-heading text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 subtext to-animate">
              <iframe src="https://calendar.google.com/calendar/embed?src=cm9zZW1hcnkud2FyZGVyQGdtYWlsLmNvbQ%40group.calendar.google.com&ctz=Europe%2FParis" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
          </div>
        </div>
			</div>
		</div>
	</section>
