	<section id="fh5co-about" data-section="about">
		<div class="container">
			<div class="row">
				<div class="col-md-9 section-heading text-center">
                    <div id='pricing'></div><br />
          <h2 class="to-animate">{{ with .Site.Params.pricing.title }}{{ . | markdownify }}{{ end }}</h2>
						<div class="col-md-8 subtext to-animate">
							<h3>{{ with .Site.Params.pricing.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
				</div>
			</div>
			<div class="row">
        {{ range .Site.Params.pricing.item }}
        <table class="table">
          <thead>
            <tr>
              <th>{{ .column1 }}</th>
              <th>{{ .column2 }}</th>
            </tr>
          </thead>
          <tbody>
            {{ range .content }}
            <tr>
              <td>{{ with index . 0}}{{ . }}{{ end }}</td>
              <td>{{ with index . 1}}{{ . }}{{ end }}</td>
            </tr>
            {{ end }}
          </tbody>
        </table>
        {{ if .footer }}
        {{ .footer }}
        {{ end }}
        {{ end }}
		</div>
	</section>
